.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 20px 15px;
    justify-content: start;
    align-items: center;
    text-align: center;
    transition: .5s ease-in-out;
    border: 2px solid black;
    box-shadow: 5px 5px 30px black;
    color: black;
}

.card:hover {
    transform: scale(1.1);
    z-index: 2;
}


.card-image img {
    margin: 20px auto;
    display: flex;
    height: 300px;
    border-radius: 25px;
    object-fit: scale-down;
}


.card-title {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

@media only screen and (max-width: 600px) {
    .card {
        display: block;
    }


}