.search {
    justify-content: center;
    align-items: start;
    margin: 0 auto;
}

.search-btn {
    margin-left: 20px;
    font-size: 30px;
    padding: 10px 20px;
    color: white;
    background-color: black;
}

.search-btn:hover {
    cursor: pointer;
    margin-left: 20px;
    font-size: 30px;
    padding: 10px 20px;
    color: black;
    background-color: white;
}